# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Autoconf/automake stuff
Makefile.in
Makefile
configure
config.h
config.h.in
config.guess
config.status
config.sub
config.log
aclocal.m4
autom4te.cache
depcomp
install-sh
stamp-h1
.deps
missing
*.in~

